*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background:#0b0c10;
    color:#e6edf3;
}

.container{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:28%;
    height:100vh;
    position:fixed;
    padding:60px;
    border-right:1px solid #222;
}

.sidebar h1{
    font-size:36px;
    margin-bottom:10px;
}

.tagline{
    color:#9aa4af;
    margin-bottom:40px;
}

.links a{
    display:block;
    text-decoration:none;
    color:#58a6ff;
    margin-bottom:12px;
}

.links a:hover{
    color:white;
}

/* Content */

.content{
    margin-left:28%;
    padding:70px;
    width:72%;
}

section{
    margin-bottom:70px;
}

h2{
    font-size:28px;
    margin-bottom:20px;
}

.project{
    margin-bottom:30px;
}

.project h3{
    font-size:20px;
    margin-bottom:8px;
}

.project p{
    color:#9aa4af;
    line-height:1.6;
}

ul li{
    margin-bottom:8px;
    color:#9aa4af;
}
